/* 
    VARIABLES
*/
:root {
    --navbar-height: 100px;
}

/* 
    FONTS 
*/

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Light.ttf) format("truetype");
    font-weight: 100;
}


/*
    STYLING 
*/

/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif, "Times New Roman";
    color: #fff;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgb(10, 10, 10);
    z-index: -2;
}

.mask {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.container {
    display: flex;
    margin: 0 5%;
    /* border: 2px solid red; */
}

.container-vertical {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100vh;
}

.container-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin: auto 150px 150px;
    gap: 10%;
    /* border: 2px solid blue; */
}




/* NAVBAR */
.navbar {
    height: var(--navbar-height);
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    /* border: 1px solid blue; */
}

.navbar a, .navbar a:link, .navbar a:visited {
    color: #fff;
    text-decoration: none;
}

.navbar a, .navbar a:hover, .navbar a:active {
    color: rgb(212, 209, 209)
}

.nav-item-logo {
    font-weight: bold;
    font-size: 200%;
}

.nav-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-item-group-vertical {
    flex-direction: column;
}

.nav-item {
    margin: auto;
    width: 100%;
    padding: 0 1.5em;
    text-align: center;
    font-size: 20px;
}

.nav-item-right {
    width: auto;
    height: 100%;
}

.menu-img {
    width: 32px;
    height: 32px;
    margin: 120% auto;
}




/* SHOWCASE */
.showcase {
    font-weight: bold;
    font-size: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    line-height: 115%;
    min-width: 465px;
    max-width: 769px;
    height: 100%;
    gap: 30px;
}

.subtitle {
    font-weight: 100;
    font-size: 22px;
    min-width: 50%;
    max-width: 70%;
    margin-right: 10%;
    line-height: 150%;
}




/* SIGN UP */
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 465px;
    max-width: 500px;
    height: 100%;
    color: #fff;
    /* border: yellow 2px solid; */
}

.signup-title {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    color: #f5f4f4;
}

.signup-form {
    height: 50%;
    min-height: 240px;
    width: 100%;
    max-height: 210px;
    /* border: 1px solid yellow; */
}

.signup-input {
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: normal;
    font-size: 18px;
    height: 33.3%;
    width: 100%;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 20px;
}

.signup-input:focus::placeholder {
    font-size: 105%;
}

.signup-inputgroup {
    height: 75%;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.30);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(255, 255, 255, 0.07);
}

.signup-button {
    font-size: 18px;
    height: 25%;
    width: 100%;
    border: 2px solid rgb(44, 153, 237);
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    background-color: rgb(44, 153, 237);
}

.signup button:hover {
    font-size: 120%;
    cursor: pointer;
}

.signup ::placeholder {
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.70);
}

.tb-borders {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: rgb(155, 155, 155);
    margin-top: 18px;
    gap: 5px;
}

.tc a {
    color: #fff;
}




/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    /* border: 1px solid blue; */
}

.footer-copyright {
    font-size: 14px
}

.footer-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    letter-spacing: 1px;
}




/* MENU */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    visibility: visible;
    font-size: 36px;
    background: rgba(75, 75, 75, 0.75);
    /* border: 1px solid blue; */
}

.menu-item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 50px;
    /* border: 1px solid yellow; */
}

.menu-item {
    width: 100%;
    letter-spacing: 1px;
    /* border: 1px solid red; */
}

.menu a, .menu a:link, .menu a:visited {
    color: #fff;
    text-decoration: none;
}

.menu a, .menu a:hover, .menu a:active {
    color: rgb(212, 209, 209)
}



/* 
    MEDIA QUERIES
*/

/* TABLETS & SMALL SCREENS */
@media (max-width: 1024px) {

    .background {
        height: 100%;
    }

    .container {
        margin: 0 3%;
    }

    .container-vertical {
        gap: 20%;
    }

    .navbar {
        gap: 60%;
    }

    .nav-item-group {
        display: none;
        visibility: hidden;
    }
    
    .container-mid {
        flex-direction: column;
        margin: auto 25%;
    }
    
    .showcase {
        justify-content: center;
        /* border: 1px solid orange; */
    }

    .footer {
        flex-direction: column;
        /* border: 1px solid green; */
    }

    .footer-item-group {
        flex-direction: column;
        font-size: 12px;
        gap: 15px;
        order: -1;
        margin-bottom: 10%;
    }

    .footer-copyright {
        padding-bottom: 25px;
    }

}

/* SMARTPHONES */
@media (max-width: 500px) {

    * {
        scrollbar-width: thin;
    }

    .background {
        overflow: auto;
    }

    .container-vertical {
        gap: 125px;
    }

    .container {
        margin: auto 0px;
        height: 100%;
        width: 100%;
    }
    
    .container-mid {
        align-items: center;
        margin: 0 auto;
        gap: 10%;
    }
    
    .navbar {
        margin: 0 auto;
        height: 80px;
        /* border: 1px solid green; */
    }

    .nav-item-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-img {
        margin: 100% auto;
    }

    .showcase {
        font-size: 56px;
        margin: auto 0;
        padding: 15px;
        width: 100%;
        /* padding: 15px; */
        min-width: 320px;
    }

    .subtitle {
        max-width: 100%;
        font-size: 20px;
    }

    .signup {
        min-width: 320px;
        padding: 15px;
    }

    .footer {
        /* border: 1px solid green; */
        height: 100%;
        width: 100%;
    }

}