/* 
    FONTS 
*/
@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

/*
    STYLING 
*/

/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif, "Times New Roman";
    color: #fff;
}

/* MENUBAR */
.background-img {
    filter: brightness(80%);
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 90px;
}

.menubar {
    height: 100px;
    justify-content: space-evenly;
}

.menubar a,
.menubar a:link,
.menubar a:visited {
    color: #fff;
    text-decoration: none;
}

.menubar a,
.menubar a:hover,
.menubar a:active {
    color: rgb(212, 209, 209)
}

.menu-item-logo {
    justify-content: flex-start;
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: bold;
    font-size: 200%;
}

.menu-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.menu-item {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 0 1.5em;
}

.menu-item-right {
    justify-content: flex-end;
}

/* SHOWCASE TEXT */
.showcase {
    background-color: rgba(255, 0, 0, 0.384);
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: bold;
    font-size: 200%;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
    height: 100%;
}

.showcase-subtitle {
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: normal;
    font-size: 100%;
}


/* SIGN UP */
.sign-up {
    width: auto;
}



/* FOOTER */
.footer {
    width: auto;
}

