/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype"),
         url(.assets/fonts/Roboto-Bold.ttf) format("truetype"),
         url(./assets/fonts/Roboto-Light.ttf) format("truetype");
}

/* INDEX STYLING */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: normal;
    background: no-repeat center url(./assets/images/background.png);
    background-color: #000;
    color: white;
}

div, a {
    background-color: rgba(255, 0, 0, 0.384);
}

.menubar {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.menu-item-left {
    font-family: "Roboto", sans-serif, "Times New Roman";
    font-weight: bold;
    justify-content: flex-start;
}

.menu-item-group {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.menu-item {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 0 1.5em;
}

.right-item {
    float: right;
    margin: auto 10px;
}

.hero {
    position: absolute;
    width: auto;
}

.hero > div {
    color: rgb(221, 221, 221)
}

.sign-up {
    position: absolute;
    width: auto;
}

.footer {
    position: absolute;
    width: auto;
}